doctype html
html
  head
    title Crear Estacion
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="../js/semantic.min.js")
    link(rel='stylesheet' type='text/css' href='../css/semantic.min.css')
    style.
      html,body{
        height : 100%;
        margin : 0 ;
      }
      #map{
        height : 60%;
        border : 1px solid green;
        z-index : 1;
      }
  body
    .ui.large.top.menu
      .ui.container
        a.item(href="/estaciones") Cocheras
        a.item Productos
      .rigth.menu
        .item
          .ui.icon.input
            input(type='text' placeholder='search...')
            i.search.icon
        .item
          a.ui.black.button(href="/logout") Log Out



    .ui.container
      .ui.two.column.aligned.very.relaxed.stackable.grid
        .column
          form#crear_estacion.ui.form(action='/crearEstacion' method='post')
            input(type='hidden' name='userId' value=userId)
            input#input_latitud(type='hidden' name='latitud' placeholder='Latitud')
            input#input_longitud(type='hidden' name='longitud' placeholder='Longitud')
            .field
              .ui.dividing.header Nombre de la Cochera
              input#input_nombre(type='text' name='nombre' placeholder='Nombre')
            .ui.dividing.header Seleccione los productos que vendera la cochera
            table.ui.single.line.table
              tbody
                tr
                  td.ui.center.aligned 
                    #select_all.ui.checkbox
                      input(type='checkbox')
                  td Seleccionar todos los productos
                tr
                  td.ui.center.aligned 
                    .ui.checkbox.ls
                      input.hidden(type='checkbox', name="dieselpro", tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/dieselpro.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Diesel Pro
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox', name='dieselproeco', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/dieselproeco.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Diesel Pro Eco
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox', name='gas90', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/gas90.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Gasolina 90
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox',name='gas95', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/gas95.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Gasolina 95
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox',name='gas98', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/gas98.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Gasolina 98
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox',name='glp', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/GLP.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned GLP
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox',name='gnv', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/GNV.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned GNV
                tr
                  td.ui.center.aligned
                    .ui.checkbox.ls
                      input.hidden(type='checkbox',name='repshop', tabindex='0')
                  td.ui.center.aligned
                    img(src='../css/img/repshop.jpg', alt='Mountain View', style='width:100px;height:25px;')
                  td.ui.center.aligned Repshop

        .column 
          label.ui.dividing.header Seleccione la ubicacion de la cochera
          #map
          .ui.icon.message
            a.ui.black.button(href="/estaciones") Cancelar
            input#input_submit.ui.black.button(type='submit' value='Crear' disabled)
            i#exito_mapa.notched.circle.loading.icon
            .content
              .header#label_mapa
                | Seleccione la ubicacion de la cochera
  script.
    $('#input_submit').on('click', function(){
      $('#crear_estacion').submit();
    });
      
  script.
    $('.ui.checkbox')
      .checkbox();
    $(".form")
      .form({
        inline:true,
        on:'blur',
        fields:{
          nombre:{
            identifier:'nombre',
            rules:[{
              type:'empty',
              prompt:'Ingrese un nombre'
            }]
          },
          latitud:{
            identifier:'latitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una latitud valida (-90.000000 a +90.000000) (ejemplo: -55.254769 )'
            }]
          },
          longitud:{
            identifier:'longitud',
            rules:[{
              type:'number',
              prompt:'Ingrese una longitud valida (-180.000000 a +180.000000)(ejemplo: -168.554178 )'
            }]
          }
        }
      });
  
  script.
    $('#select_all').checkbox({
      onChecked(){
        $('.ui.checkbox.ls').checkbox('check');
      }, onUnchecked(){
        $('.ui.checkbox.ls').checkbox('uncheck');
      }
    });
  script.
    
    var mapGoogle = document.getElementById('map');
    var centro = {
      lat : -12.046775,
      lng : -77.042820
    };
    var map;
    var markers = [];
    var latitud;
    var longitud;
    function initMap(){
      map = new google.maps.Map(mapGoogle,{
      center: centro,
      zoom: 12,
      mapTypeControl : false,
        streetViewControl : false,
        zoomControlOptions : {
          position : google.maps.ControlPosition.RIGHT_TOP
        }
      });
      
      map.addListener('click', function(event) {
        $("#label_mapa").text("");
        $("#input_submit").prop('disabled',false);
        latitud = event.latLng.lat();
        longitud = event.latLng.lng();
        $("#input_latitud").attr("value",latitud);
        $("#input_longitud").attr("value",longitud);
        $('#exito_mapa').removeClass('notched circle loading icon').addClass('checkmark icon');
        deleteMarkers();
        addMarker(event.latLng);
      });
      
    }
    function addMarker(location) {
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
      markers.push(marker);
    }
    function setMapOnAll(map) {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(map);
      }
    }
    function clearMarkers() {
      setMapOnAll(null);
    }
    function deleteMarkers() {
      clearMarkers();
      markers = [];
    }
    
    
    
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCAX91_ercE3wCCrvRdXlvIeEYxTPg897I&signed_in=true&libraries=places&callback=initMap')
  
  
  
//    a(href='/producto') Productos
//    a(href='/categoria') Categorias
//    if message != undefined
//      p #{message}
//    br
//    form(action='/producto' method='post')
//      label Nombre: 
//      input(type='text' name='nombre')
//      br
//      label Categoria:
//      - console.log( "->", objResult )
//      select(name='categoriaId')
//        each categoria in objResult_categoria
//          option(value=categoria.id) #{categoria.nombre}
//      br
//      label Precio: 
//      input(type='text' name='precio')
//      br
//      label Cantidad: 
//      input(type='text' name='cantidad')
//      br
//      label Descripcion: 
//      textarea(name='descripcion' rows='10' cols='30')
//      br
//      input(type='submit' value='Crear')
//    a.btn-cancelar(href='/producto')
//      button.btn-cancelar(type='button') Cancelar
